TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
TURNSTILE_BYPASS=false

ADMIN_USERNAME=admin
ADMIN_PASSWORD=
ADMIN_DISPLAY_NAME=博主
ADMIN_SESSION_TTL_HOURS=72
ADMIN_LOGIN_RATE_LIMIT_PER_MINUTE=8

COMMENTS_AUTO_APPROVE=true
COMMENT_RATE_LIMIT_PER_MINUTE=6
IP_HASH_SALT=
